.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.chat {
  display: flex;
  flex: 1;
  background-color: azure;
}

.messages {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.messages-list {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  overflow-y: auto;
}

.message-input {
  height: 100px;
  display: flex;
}

.message-input input {
  width: 100%;
}

.message {
  margin-bottom: 10px;
}

.users {
  width: 300px;
  border-left: 1px solid black;
  padding-left: 10px;
}
